{% set list_home_checks = [
  'Professional HD Photos, and Drone Footage',
  'Expansive targeted real estate marketing',
  'Access to network of real estate buyers',
  'Experience with complex real estate trancations',
  'Decades of Ormond Beach real estate experience'
] %}
{% set sell_home_checks = [
  'Quick MLS Listings',
  'Verify buyer & offers',
  'Help navigate the entire transaction',
  'Help negotiating offers',
  'Develop a staging and marketing strategy'
] %}
<div class="page">
	<section class="py-4 sm:py-16">
		<div class="container">
			<div class="flex-row-reverse items-center justify-center grid-lg">
				<div class="w-full lg:w-1/2">
					<img src="https://ormondbeachside.com/storage/app/media/listingagent/Ormond-Beach-Listing-Real-Estate-Agent.jpg" class="my-8" alt="List My Home. This Week."/>
				</div>
				<div class="w-full lg:w-1/2">
					<h2 class="pt-0 font-bold h2 text-primary">
						List My Home. This Week.
					</h2>
					{% for item in list_home_checks %}
						<li class="flex">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
								</svg>
							</span>
							<span class="pl-4">{{ item }}</span>
						</li>
					{% endfor %}
					<a href="#" class="btn">List My Home Fast</a>
				</div>
			</div>
		</div>
	</section>

	<section class="py-4 sm:py-16 bg-grey-lighter">
		<div class="container">
			<h3 class="pt-0 text-center">
				Selling in this market is stressful 😡 (with the wrong agent)
			</h3>
		</div>
	</section>

	<section class="py-4 sm:py-16">
		<div class="container">
			<div class="items-center justify-center grid-lg">
				<div class="w-full lg:w-1/2">
					<img src="https://ormondbeachside.com/storage/app/media/listingagent/Ormond-Beach-Listing-Real-Estate-Agent-Sell-my-home.jpg" class="my-8" alt="Sell My Home. Fast."/>
				</div>
				<div class="w-full lg:w-1/2">
					<h1 class="pt-0 font-bold h2 text-primary">
						Sell My Home. Fast.
					</h1>
					{% for item in list_home_checks %}
						<li class="flex">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
								</svg>
							</span>
							<span class="pl-4">{{ item }}</span>
						</li>
					{% endfor %}
					<a href="tel:3867956050" class="btn">(386) 795-6050</a>
				</div>
			</div>
		</div>
	</section>

	<section class="py-4 sm:py-16 bg-grey-lighter">
		<div class="container">
			<h3 class="pt-0 text-center">
				Ready to sell your Ormond Beach home fast? 🚀
			</h3>
		</div>
	</section>

	<section class="py-4 sm:py-16">
		<div class="container">
			<div class="items-center justify-center grid-lg">
				<div class="w-full lg:w-1/2">
					<h3 class="pt-0 font-bold h2 text-primary">
						List My Home Fast.
					</h3>[[ form id=3 ]]
				</div>
				<div class="w-full lg:w-1/2">
					<img src="https://ormondbeachside.com/storage/app/media/listingagent/Ormond-Beach-Listing-Home-Sold.jpg" class="my-8" alt="List My Home Fast"/>
				</div>
			</div>
		</div>
	</section>
</div>
